/* Table Styles */
.table-container {
    margin-top: 1.5rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #4d195e; /* Dark purple */
    color: white;
    text-align: left;
  }
  
  thead th {
    padding: 12px 15px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody td {
    padding: 12px 15px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #4d195e;
  }
  
  tbody td[data-label]:before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    color: #e55b14;
  }
  
  tbody tr:hover {
    background-color: #e9f5ff; /* Light blue hover */
    transition: background-color 0.3s;
  }
  
  /* Button Styles */
  .custom-button {
    padding: 12px 25px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: #3498db; /* Blue color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .custom-button:active {
    transform: scale(0.98);
    background-color: #2574a9; /* Slightly darker blue when clicked */
  }
  